/* 
Colours:
Darkest
#000000 (black)
#0C0032 (blackish)
#190061 (purple)
#240090 (purple)
#3500D3 (purple)
#282828 (grey)
Lightest
*/

body {
    margin: 0;
    background-color: #000000;
    color: white;
}


/* Add a background color to the top navigation */

.topnav {
    background-color: #0C0032;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #3500D3;
    color: white;
}


/* Add a color to the active/current link */


/* .topnav a.active {
    background-color: #3500D3;
    color: white;
} */


/* Right-aligned section inside the top navigation */

.topnav-right {
    float: right;
}